# virtualenv
ENV

# cached compiled python files
*.pyc

# flask logs
flask-log.txt

# UNIX socket files
*.sock

# bower components, i.e. front-end libraries
/bower_components

# node packages
/node_modules

# python-version file for use with systems using pyenv
.python-version
