/* STYLES 
 *
 * These styles are mobile-first. 
 * Special styles for wider screens are contained in 
 * the media query at the end. 
 * 
 * Author: Kevin Hu
 * Comments Updated: 09/17/2016 
 * */

/* Clear margins. Set background 
 * color. */
body {
	margin: 0;
	background-color: #FFFEF4;
}

/* Use large headers */
h1 {
	font-size: xx-large;
}

/* Remove default underline 
 * from anchor tags */
a {
	text-decoration: none;
}

/* Customize in-line
 * anchor tags */
a[class="text-link"]:link {
	color: #ff4081;

}

a[class="text-link"]:visited {
	color: #ad687f;

}

a[class="text-link"]:hover {
	color: #fb3579;;

}

a[class="text-link"]:active {
	color: #f7eff1;

}

/* No padding for the section 
 * container on small screens */
section {
	padding-left: 0px;
}

/* Use Lora font, fallback to Georgia 
 * or a default Serif font.
 * */
.content {
	padding: 5px 15px;
	font-family: "Lora", Georgia, Serif;
	margin-bottom: 30px;
}

/* Headers front and center */
.content h1, h2, h3, h4 {
	text-align: center;
}

/* Justify paragraph text.
 * Do not allow paragraphs 
 * to get too wide. */
.content p {
	margin: 0 auto;
	text-align: justify;
	max-width: 600px;
}

/* Center and resize all "feature" images */
.feature {
	display: block;
	max-width: 240px;
	max-height: 150px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

/* Center the updates list sign-up form */
#mc_embed_signup_scroll {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 15px;
}

/* Center components inside centerify divs */
.centerify {
	margin-top: 20px;
	text-align: center;
}

/* Pad components inside to space them out vertically */
.pad-top {
	padding-top: 30px;
}

/* Use divs to vertically space out elements */
.spacer {
	min-height: 30px;
}
/* Respond to wider browser window widths 
 * with different styles */
@media screen and (min-width: 840px) {
	/* Shift entire section to right
	 * to make room for navigation 
	 * drawer on wide screens */
	section {
		padding-left: 200px;
	}

	/* Allow elements to be spaced out 
	 * a little further */
	.content {
		padding: 5px 30px;
	}
	
	/* Roughly centerize lists
	 * */
	.content ul {
		padding-left: 200px;
	}

	/* Allow featured images to be 
	 * larger. */
	.feature {
		max-width: 570px;
		max-height: 360px;
	}
}
