/*
 * TODO: Make sure featured photos are aligned nicely in the mobile view.
 * */

body {
	margin: 0;
	background-color: #FFFEF4;
}

h1 {
	font-size: xx-large;
}

a {
	text-decoration: none;
}

section {
	padding-left: 0px;
}

.content {
	padding: 5px 30px;
	font-family: "Lora", Georgia, Serif;
	margin-bottom: 30px;
}

.content h1, h2, h3, h4 {
	text-align: center;
}

.content p {
	margin: 0 auto;
	text-align: justify;
	max-width: 600px;
}

.feature {
	display: block;
	max-width: 300px;
	max-height: 200px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}

#mc_embed_signup_scroll p {
	text-align: center;
	padding-bottom: 20px;
}

.mc-field-group input {
	text-align: center;
}

.clear {
	text-align: center;
	padding-bottom: 5px;
}

@media screen and (min-width: 840px) {
	section {
		padding-left: 200px;
	}

	.feature {
		max-width: 600px;
		max-height: 400px;
	}
}
