<!DOCTYPE html>
<html>
<head>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="../static/Skeleton-2.0.4/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Skeleton 2.0.4 container -->
<div class="container">

  <!-- 1 - Skeleton row -->
  <div class="row">
    <div class="one-half column">
	    <h1>Editor</h1>
    </div>
    <div class="one-half column">
	    <h1>Preview</h1>
    </div>
  </div>

  <!-- 2 - Skeleton row -->
  <div class="row">
    <div class="editor-form-cont one-half column">
      <form method="post" action="/parser">
	<p><textarea name="mdeditor" style="width: 100%"></textarea></p>
      </form>
    </div>
    <div class="one-half column">
    </div> 
  </div>
  
  <!-- SCRIPTS  -->
  <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/editor.js') }}"></script> 
</div>
</body>
</html>
